@model IsYonetimSistemi.Models.Izin
@{
    ViewBag.Title = "IzinSilme";
    Layout = "~/Views/Shared/_mainView.cshtml";
}

<h2>Izin Silme</h2>

<h3>Bu izni silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>İzin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.izin_sebebi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.izin_sebebi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.izin_baslangic_tarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.izin_baslangic_tarihi)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.izin_bitis_tarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.izin_bitis_tarihi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("İzin Listesine Dön", "IzinListeleme")
        </div>
    }
</div>