@model List<IsYonetimSistemi.Models.Izin>
@using IsYonetimSistemi.Models;
@{
    ViewBag.Title = "IzinListeleme";
    Layout = "~/Views/Shared/_mainView.cshtml";
}

<h2>Izin Listeleme</h2>

<table class="table">
    <tr>
        <th>
            İzinli Personel
        </th>
        <th>
            İzin Sebebi
        </th>
        <th>
            İzin Başlangıç Tarihi
        </th>
        <th>
            İzin Bitiş Tarihi
        </th>        
        <th>
            İzin Veren Yönetici
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{ using (IsYonetimDBEntities dbModel = new IsYonetimDBEntities())
                    {
                        var izinliPersonel = dbModel.Personels.Where(x => x.kullanici_id == item.personel_id).FirstOrDefault();
                        @izinliPersonel.ad;
                        <br />
                        @izinliPersonel.soyad;
                    }
                }
            </td>
            <td>
                @item.izin_sebebi
            </td>
            <td>
                @item.izin_baslangic_tarihi
            </td>
            <td>
                @item.izin_bitis_tarihi
            </td>           
            <td>
                @{ using (IsYonetimDBEntities dbModel = new IsYonetimDBEntities())
                    {
                        var izinVerenYonetici = dbModel.Yoneticis.Where(x => x.kullanici_id == item.yonetici_id).FirstOrDefault();
                        @izinVerenYonetici.ad;
                        <br />
                        @izinVerenYonetici.soyad;
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Düzenle", "IzinDuzenleme", new { id = item.izin_id}) |
                @Html.ActionLink("Sil", "IzinSilme", new { id = item.izin_id})
            </td>
        </tr>
    }

</table>

