@model IsYonetimSistemi.Models.Leave
@{
    ViewBag.Title = "IzinSilme";
    Layout = "~/Views/Shared/managerPanel.cshtml";
}

<h2>Izin Silme</h2>

<h3>Bu izni silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>İzin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.leave_reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leave_reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leave_start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leave_start_date)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.leave_end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leave_end_date)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("İzin Listesine Dön", "ListLeaves")
        </div>
    }
</div>