
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/style/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/style/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/style/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/style/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/style/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/style/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/style/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/style/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/style/css/main.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div>
        @model IsYonetimSistemi.Models.Manager
        @{
            ViewBag.Title = "ManagerLogin";
        }

        @using (Html.BeginForm("ManagerLogin", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <body>
                <div class="limiter">
                    <div class="container-login100">
                        <div class="wrap-login100">
                            <form class="login100-form validate-form">
                                <span class="login100-form-title p-b-26">
                                    Yönetici Girişi
                                </span>
                                <span class="login100-form-title p-b-26">
                                    Hoşgeldiniz
                                </span>

                                <div class="wrap-input100 validate-input" data-validate="Kullanıcı Adı Gerekli">
                                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "input100", @type = "text", @name = "kullanici_adi" } })
                                    <span class="focus-input100" data-placeholder="Kullanıcı Adı"></span>
                                </div>
                                <div class="wrap-input100 validate-input" data-validate="Şifre Gerekli">
                                    <span class="btn-show-pass">
                                        <i class="zmdi zmdi-eye"></i>
                                    </span>
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "input100", @type = "password", @name = "pass" } })
                                    <span class="focus-input100" data-placeholder="Şifre"></span>
                                </div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.ViewBag.SuccessMessage
                                <div class="container-login100-form-btn">
                                    <div class="wrap-login100-form-btn">
                                        <div class="login100-form-bgbtn"></div>
                                        <button type="submit" value="Submit" class="login100-form-btn">
                                            Giriş
                                        </button>
                                    </div>
                                    <div>
                                        <br style="line-height:20px;" />
                                        <input type="button" style="color: gray" class="btn btn-default" value="Ana Sayfa" name="action:HomePage"
                                               onclick="location.href='@Url.Action("SelectLogin", "Home")'" />
                                    </div>
                                    <div>
                                        <br style="line-height:20px;" />
                                        <button type="button" style="color: darkcyan" class="btn btn-default" data-target="#yoneticiSecModal" data-toggle="modal">Parolamı unuttum</button>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <label class="label-success" style="color:limegreen; margin-left:12%">@ViewBag.SuccessMessage</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <label class="label-danger" style="color:red; margin-left:12%">@ViewBag.DuplicateMessage</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <br />
                        <div class="modal" id="yoneticiSecModal" role="dialog">
                            @using (Html.BeginForm("ResetManagerPassword", "Login", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal">&times;</button>
                                            <h4>Parola Yenileme</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="" method="post" class="login100-form validate-form">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Yeni parolanız</label>
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Yeni parolanız(Tekrar)</label>
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.confirm_password, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.confirm_password, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>                                                
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" value="Parola Yenile" class="btn btn-default" name="action:ResetManagerPassword" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
                <div id="dropDownSelect1"></div>
            </body>
        }
       
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Style/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Style/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Style/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Style/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Style/vendor/select2/select2.min.js"></script>
    <script src="~/Style/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Style/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Style/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/Style/js/main.js"></script>
</body>
</html>